version: '3'
services:
  sonarr:
    image: ghcr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
    volumes:
      - ./config:/config
      - {{ storage_path }}/Series:/tv
      - {{ storage_path }}/downloads:/downloads
    ports:
{% for port in (services |  selectattr('name', 'search', 'sonarr') | list | first).ports %}
      - {{ port }}
{% endfor %}
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 8.8.4.4

networks:
  default:
    external:
      name: {{ container_network_name }}
