
<div class="content search">
  <h3 class="title">{{lang.search.resultsFor}}: {{search}}</h3>
  {{#searchResults.length}}
    {{#searchResults}}
      <div class="page">
        <h2 class="page-title">
          <a href="{{config.base_url}}/{{slug}}">
            {{title}} 
            {{#category}}<span style="color: #DDD;">({{category}})</span>{{/category}}
          </a>
        </h2>
        <div class="page-excerpt">{{{excerpt}}}</div>
      </div>
    {{/searchResults}}
  {{/searchResults.length}}
  {{^searchResults.length}}
    <p class="nothing-found">{{lang.search.noResultsFor}} "{{search}}"</p>
  {{/searchResults.length}}
</div>