version: '3'
services:
  flame:
    image: docker.io/pawelmalak/flame:multiarch
    container_name: flame
    volumes:
      - ./data:/app/data:Z
    ports:
{% for port in (services |  selectattr('name', 'search', 'flame') | list | first).ports %}
      - {{ port }}
{% endfor %}
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 8.8.4.4

networks:
  default:
    external:
      name: {{ container_network_name }}
