version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: docker.io/pihole/pihole:latest
    ports:
{% for port in (services |  selectattr('name', 'search', 'pihole') | list | first).ports %}
      - {{ port }}
{% endfor %}
    environment:
      ServerIP: {{ server_ip }}
      VIRTUAL_HOST: {{ pihole_domain }}
      TZ: {{ timezone }}
      WEBPASSWORD: {{ password }}
    volumes:
      - ./etc-pihole/:/etc/pihole/:Z
      - ./etc-dnsmasq.d/:/etc/dnsmasq.d/:Z
    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 8.8.4.4

networks:
  default:
    external:
      name: {{ container_network_name }}
