---
version: "2.1"
services:
  raneto:
    image: lscr.io/linuxserver/raneto:latest
    container_name: raneto
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
    volumes:
      - ./config:/config:Z
      - ./default:/app/raneto/themes/default:Z
    ports:
{% for port in (services |  selectattr('name', 'search', 'raneto') | list | first).ports %}
      - {{ port }}
{% endfor %}
    restart: unless-stopped

networks:
  default:
    external:
      name: {{ container_network_name }}
