version: '3'
services:
  jackett:
    image: ghcr.io/linuxserver/jackett
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
      - AUTO_UPDATE=true #optional
      - RUN_OPTS=<run options here> #optional
    volumes:
      - ./config:/config
      - {{ storage_path }}/torrents:/downloads
    ports:
{% for port in (services |  selectattr('name', 'search', 'jackett') | list | first).ports %}
      - {{ port }}
{% endfor %}
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 8.8.4.4

networks:
  default:
    external:
      name: {{ container_network_name }}
