user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 768;
	# multi_accept on;
}

http {

	##
	# Basic Settings
	##

	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;
	# server_tokens off;

	# server_names_hash_bucket_size 64;
	# server_name_in_redirect off;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

{% if use_ssl %}
	##
	# SSL Settings
	##

	ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
	ssl_prefer_server_ciphers on;
    ssl_certificate {{ tls_chain }};
    ssl_certificate_key {{ tls_privkey }};
    ssl_trusted_certificate {{ tls_trusted_certificate }};
{% endif %}

	##
	# Logging Settings
	##

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	##
	# Gzip Settings
	##

	gzip on;

	# gzip_vary on;
	# gzip_proxied any;
	# gzip_comp_level 6;
	# gzip_buffers 16 8k;
	# gzip_http_version 1.1;
	# gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

	##
	# Virtual Host Configs
	##

	include /etc/nginx/conf.d/default.conf;
	include /etc/nginx/sites-enabled/*;

{% set bazarr = (services |  selectattr('name', 'search', 'bazarr') | list | first) %}
{% if bazarr.active %}
# Bazarr
include /etc/nginx/conf.d/bazarr-nginx.conf;
{% endif %}
{% set pihole = (services |  selectattr('name', 'search', 'pihole') | list | first) %}
{% if pihole.active %}
# Pihole
include /etc/nginx/conf.d/pihole-nginx.conf;
{% endif %}
{% set flame = (services |  selectattr('name', 'search', 'flame') | list | first) %}
{% if flame.active %}
# Flame
include /etc/nginx/conf.d/flame-nginx.conf;
{% endif %}
{% set planka = (services |  selectattr('name', 'search', 'planka') | list | first) %}
{% if planka.active %}
# Planka
include /etc/nginx/conf.d/planka-nginx.conf;
{% endif %}
{% set mkdocs = (services |  selectattr('name', 'search', 'mkdocs') | list | first) %}
{% if mkdocs.active %}
# MkDocs
include /etc/nginx/conf.d/mkdocs-nginx.conf;
{% endif %}
{% set deluge = (services |  selectattr('name', 'search', 'deluge') | list | first) %}
{% if deluge.active %}
# Deluge
include /etc/nginx/conf.d/deluge-nginx.conf;
{% endif %}
{% set radarr = (services |  selectattr('name', 'search', 'radarr') | list | first) %}
{% if radarr.active %}
# Radarr
include /etc/nginx/conf.d/radarr-nginx.conf;
{% endif %}
{% set sonarr = (services |  selectattr('name', 'search', 'sonarr') | list | first) %}
{% if sonarr.active %}
# Sonarr
include /etc/nginx/conf.d/sonarr-nginx.conf;
{% endif %}
{% set jackett = (services |  selectattr('name', 'search', 'jackett') | list | first) %}
{% if jackett.active %}
# Jackett
include /etc/nginx/conf.d/jackett-nginx.conf;
{% endif %}
{% set ombi = (services |  selectattr('name', 'search', 'ombi') | list | first) %}
{% if ombi.active %}
 # Ombi
 include /etc/nginx/conf.d/ombi-nginx.conf;
 {% endif %}
{% set jellyfin = (services |  selectattr('name', 'search', 'jellyfin') | list | first) %}
{% if jellyfin.active %}
 # Jellyfin
 include /etc/nginx/conf.d/jellyfin-nginx.conf;
 {% endif %}
}