version: '3'
services:
  jellyfin:
    image: docker.io/jellyfin/jellyfin
    container_name: jellyfin
    volumes:
      - "./config:/config"
      - "./cache:/cache"
      - "./css:/jellyfin/jellyfin-web/assets/css"
      - {{ storage_path }}:/media
    restart: "unless-stopped"
    environment:
      - JELLYFIN_PublishedServerUrl=http{{ 's' if use_ssl else '' }}://{{ server_url }}
      - UID=1000
      - GID=1000
    ports:
{% for port in (services |  selectattr('name', 'search', 'jellyfin') | list | first).ports %}
      - {{ port }}
{% endfor %}
    dns:
      - 8.8.8.8
      - 8.8.4.4

networks:
  default:
    external:
      name: {{ container_network_name }}
