############################################################
# Domain settings
DOMAIN={{ domain }}
EMAIL=letsencrypt@${DOMAIN}
############################################################

############################################################
# GoDaddy API Credentials
GODADDY_API_KEY="{{ godaddy_api_key }}"
GODADDY_API_SECRET="{{ godaddy_api_secret }}"
GODADDY_URL="https://api.godaddy.com/"
############################################################
